.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.nav.navbar-nav {
    height: 75px;
    background-color: #f1fffa;
    text-align: right;
		position: fixed;
		width: 100%;
		z-index:99999;

		ul {
		    float: right;
				margin: 0;
		    padding: 18.7px 100px 26.5px 0;
		}

		.nav-item a {
	    text-decoration: none;
			cursor: pointer;
			@include prefix(transition, all ease .15s, webkit ms);

		}
}

a.navbar-brand {
    padding: 10px 5%;

		img.nav-logo {
	    height: 55px;

			@media(max-width:$media-sm){
				width: auto;
				height: 42px;
				left: 0;
				position: fixed;
				padding-left: 10px;
			}
		}

	@media(max-width:$media-sm){
		padding: 16.5px 15px;
		z-index: 9999;
    display: block;
    position: relative;
	}
}

.navbar {
  background-color: #f1fffa;
}

@media (max-width:$media-sm){
	.nav.navbar-nav ul {
		padding: 5px;
		border-top: 1px solid #000;
		margin-top: 30px;
		width: 100%;
	}

	.navbar-nav .nav-link {
	    float: none;
			display: block;
			text-align: right;
	}

	.nav.navbar-nav .nav-item a {
		display: block;
		transition: initial;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
		border: none;
		&:hover{
			border:none;
	    border-bottom: none;
		}
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
